body{
  background-color: #F69343;
}

.container-fixed {
  width: 80%; /* Define a largura fixa do container em 80% */
  max-width: 1400px; /* Define uma largura máxima do container */
  margin: 0 auto; /* Centraliza o container na página */
}


.navbar {
  max-width: 100%; 
}

.navbar-brand {
  font-family: Poppins;
  color: #F69343;
  font-weight: bold;
}

.container{
  text-align: center;
  font-family: Poppins;

}

/* Estilos personalizados para o componente de página de destino */
.landing-page {
  background-color: #ffffff;
  padding: 50px 0;
}

.landing-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-family: Poppins;
}

.content-2{
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-family: Poppins;
}

.content-3{
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-family: Poppins;
}

.landing-content h1 {
  color: #F69343;
  font-weight: bold;
  font-size: 250%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.landing-content h4 {
  color: #F69343;
  font-weight: bold;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img3 {
  margin-top: -15rem;
  
}


.img4 {
  margin-top: -5rem;
 margin-right: -10rem;
  
}

.landing-content p {
  color: #000000;
  font-size: 2em;
}

.landing-button {
  margin-top: 1rem;
  background-color: #F69343;
  border-color: #F69343;
}

@media (min-width: 768px) {
  .landing-image {
    display: inline-block;
    width: 45%;
  }
}




