<div *ngIf="isMobile; else desktopContent">
  <body>
    <div class="container-fluid">
      <!-- Barra de navegação -->
      <nav class="navbar navbar-light bg-white shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="http://localhost:4200/assets/iconeTuxaua.png"
              alt="Ícone"
              width="50"
              height="50"
              class="d-inline-block align-top"
            />
            Tuxauas
          </a>
          <a>
            <form class="form-inline">
              <button
                (click)="navigateToOther()"
                type="button"
                class="btn btn-outline-secondary"
              >
                Go to Tool
              </button>
            </form>
          </a>
        </div>
      </nav>

      <div class="container landing-page">
        <div class="row">
          <div class="col-md-4">
            <img
              src="https://media.discordapp.net/attachments/896790397957849168/1217921503681843341/Picsart_24-03-14_15-44-53-046.jpg?ex=6605c8ca&is=65f353ca&hm=78305817f1791c450a18c595a0067577a8e7d5510f0514881ccf1a9ad17166a1&=&format=webp&width=814&height=936"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-4">
            <div class="landing-content text-center">
              <h1 class="display-4">Tuxauas</h1>
              <p class="lead">Discover and explore the world around you.</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Go to Tool</a
              >
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://lh3.googleusercontent.com/25dSVIrOB5uuW5UPHH7h9WIY3xFiAA1n-6s8IatuTISRkJY8yu0PsdZATzObjm7pZCP7YQRSBh7BrxxLKMLtxUtk7kGEQhouVMMsKZl8KtWrghjoEQ=s0-rw-lo"
              alt="Right Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container landing-page">
        <div class="row">
          <div class="col-md-7">
            <div class="content-3 text-center">
              <h1 class="display-4">Recognize Expressions</h1>
              <p class="lead">Detect humor expressions in faces!</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Go to Tool</a
              >
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://media.discordapp.net/attachments/896790397957849168/1217242857530982462/Picsart_24-03-12_18-48-24-500.png?ex=660350c0&is=65f0dbc0&hm=c76413bb8045f5703e426a0ef2ebd50ce1cb8e0b28b8fb8667ad8fae6f318d79&=&format=webp&quality=lossless&width=802&height=936"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container landing-page">
        <div class="row">
          <div class="col-md-6">
            <div class="content-2 text-center">
              <h1 class="display-4">Extract texts</h1>
              <p class="lead">
                Use our tool to extract texts in any languages!
              </p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Go to Tool</a
              >
            </div>
          </div>
          <div class="col-md-5">
            <img
              src="https://lh3.googleusercontent.com/WgdwvkQI2UxKHO9RXhk0Jt_zFZc_FTN6HFE_TWzPfZgVNLXUxultNw51fOug5aA-vaPX-sA7vVE0-l7FWtXfPH792onZuf7FtPJ-raEmQdFdcLuxhG8=s0-rw-lo"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container landing-page">
        <div class="row">
          <div class="col-md-6">
            <div class="content-3 text-center">
              <h1 class="display-4">Discover Colors</h1>
              <p class="lead">Detect the most dominant colors in your image!</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Go to Tool</a
              >
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://media.discordapp.net/attachments/896790397957849168/1217253542499192932/Picsart_24-03-12_19-28-05-639.png?ex=66035ab4&is=65f0e5b4&hm=b662c0ddb04526dc4d17b384c8853aa242a5b2704fcba0f5f273170bb4eb4772&=&format=webp&quality=lossless&width=798&height=934"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</div>

<ng-template #desktopContent>
  <body>
    <div class="container-fluid">
      <!-- Barra de navegação -->
      <nav class="navbar navbar-light bg-white shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="http://localhost:4200/assets/iconeTuxaua.png"
              alt="Ícone"
              width="50"
              height="50"
              class="d-inline-block align-top"
            />
            Tuxauas IA
          </a>
          <a>
            <form class="form-inline">
              <button
                (click)="navigateToOther()"
                type="button"
                class="btn btn-outline-secondary"
              >
                Go to Tool
              </button>
            </form>
          </a>
        </div>
      </nav>

      <div class="container-fixed landing-page">
        <div class="row">
          <div class="col-md-4">
            <img
              src="https://media.discordapp.net/attachments/896790397957849168/1217921503681843341/Picsart_24-03-14_15-44-53-046.jpg?ex=6605c8ca&is=65f353ca&hm=78305817f1791c450a18c595a0067577a8e7d5510f0514881ccf1a9ad17166a1&=&format=webp&width=814&height=936"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-4">
            <div class="landing-content text-center">
              <h1 class="display-4">Tuxauas</h1>
              <p class="lead">Discover and explore the world around you.</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Go to Tool</a
              >
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://lh3.googleusercontent.com/25dSVIrOB5uuW5UPHH7h9WIY3xFiAA1n-6s8IatuTISRkJY8yu0PsdZATzObjm7pZCP7YQRSBh7BrxxLKMLtxUtk7kGEQhouVMMsKZl8KtWrghjoEQ=s0-rw-lo"
              alt="Right Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container-fixed landing-page">
        <div class="row">
          <div class="col-md-4">
            <img
              src="https://media.discordapp.net/attachments/896790397957849168/1217242857530982462/Picsart_24-03-12_18-48-24-500.png?ex=660350c0&is=65f0dbc0&hm=c76413bb8045f5703e426a0ef2ebd50ce1cb8e0b28b8fb8667ad8fae6f318d79&=&format=webp&quality=lossless&width=802&height=936"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-7">
            <div class="content-3 text-center">
              <h1 class="display-4">Recognize Expressions</h1>
              <p class="lead">Detect humor expressions in faces!</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Go to Tool</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="container-fixed landing-page">
        <div class="row">
          <div class="col-md-6">
            <div class="content-2 text-center">
              <h1 class="display-4">Extract texts</h1>
              <p class="lead">
                Use our tool to extract texts in any languages!
              </p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Go to Tool</a
              >
            </div>
          </div>
          <div class="col-md-5">
            <img
              src="https://lh3.googleusercontent.com/WgdwvkQI2UxKHO9RXhk0Jt_zFZc_FTN6HFE_TWzPfZgVNLXUxultNw51fOug5aA-vaPX-sA7vVE0-l7FWtXfPH792onZuf7FtPJ-raEmQdFdcLuxhG8=s0-rw-lo"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container-fixed landing-page">
        <div class="row">
          <div class="col-md-4">
            <img
              src="https://media.discordapp.net/attachments/896790397957849168/1217253542499192932/Picsart_24-03-12_19-28-05-639.png?ex=66035ab4&is=65f0e5b4&hm=b662c0ddb04526dc4d17b384c8853aa242a5b2704fcba0f5f273170bb4eb4772&=&format=webp&quality=lossless&width=798&height=934"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6">
            <div class="content-3 text-center">
              <h1 class="display-4">Discover Colors</h1>
              <p class="lead">Detect the most dominant colors in your image!</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Go to Tool</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</ng-template>
