<div *ngIf="isMobile; else desktopContent">
  <body>
    <div class="container-fluid">
      <!-- Barra de navegação -->
      <nav class="navbar navbar-light bg-white shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="../../assets/iconeTuxaua.png"
              alt="Ícone"
              width="50"
              height="50"
              class="d-inline-block align-top"
            />
            Tuxauas IA
          </a>
          <div class="ml-auto d-flex">
            <a>
              <form class="form-inline">
                <button
                  (click)="navigateToTool()"
                  type="button"
                  class="btn btn-outline-secondary mr-2"
                >
                  Vá para a ferramenta
                </button>
              </form>
            </a>
            <!-- Facial Recognizment -->
            <!-- <a>
              <button
                (click)="navigateToFacial()"
                type="button"
                class="btn btn-outline-secondary"
              >
                Face Recognition
              </button>
            </a> -->
          </div>
        </div>
      </nav>

      <div class="container landing-page">
        <div class="row">
          <div class="col-md-4">
            <img
              src="../../assets/cachorro.jpg"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-4">
            <div class="landing-content text-center">
              <h1 class="display-4">Tuxauas</h1>
              <p class="lead">Descubra e explore o mundo ao seu redor.</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Vá para a ferramenta</a
              >
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://lh3.googleusercontent.com/25dSVIrOB5uuW5UPHH7h9WIY3xFiAA1n-6s8IatuTISRkJY8yu0PsdZATzObjm7pZCP7YQRSBh7BrxxLKMLtxUtk7kGEQhouVMMsKZl8KtWrghjoEQ=s0-rw-lo"
              alt="Right Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container landing-page">
        <div class="row">
          <div class="col-md-7">
            <div class="content-3 text-center">
              <h1 class="display-4">Reconheça Expressões</h1>
              <p class="lead">Detecte expressões de humor nos rostos!</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Vá para a ferramenta</a
              >
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="../../assets/rec-expressoes.png"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container landing-page">
        <div class="row">
          <div class="col-md-6">
            <div class="content-2 text-center">
              <h1 class="display-4">Extraia textos</h1>
              <p class="lead">
                Use nossa ferramenta para extrair textos em qualquer linguagem!
              </p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Vá para a ferramenta</a
              >
            </div>
          </div>
          <div class="col-md-5">
            <img
              src="assets/text.png"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container landing-page">
        <div class="row">
          <div class="col-md-6">
            <div class="content-3 text-center">
              <h1 class="display-4">Descubra Cores</h1>
              <p class="lead">Detecte as cores presentes em cada imagem!</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Vá para a ferramenta</a
              >
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="../../assets/dec-cores.png"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="container landing-page">
        <div class="row">
          <div class="col-md-6">
            <div class="content-2 text-center">
              <h1 class="display-4">Descubra a Logo</h1>
              <p class="lead">
                Use nossa ferramenta para descobrir os nomes das logos!
              </p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Vá para a ferramenta</a
              >
            </div>
          </div>
          <div class="img4 col-md-5">
            <img
              src="assets/logos.png"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
    <footer
  class="text-center text-lg-start bg-body-tertiary text-white"
  style="font-family: 'Poppins', sans-serif; margin-top: 10vh"
>
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  ></section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <!-- Ajustado o tamanho da primeira coluna -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Instituto Tuxauas
          </h6>
          <p>Just Do It</p>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <!-- Ajustado o tamanho da segunda coluna -->
          <h6 class="text-uppercase fw-bold mb-4">Linguagens e Frameworks</h6>
          <p>Angular</p>
          <p>Bootstrap</p>
          <p>NodeJS</p>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
          <!-- Ajustado o tamanho da terceira coluna -->
          <h6 class="text-uppercase fw-bold mb-4">Contatos</h6>
          <p><i class="fas fa-home me-3"></i> Manaus, 01000-000, BR</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            contato&#64;tuxauas.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +55 (11) 1234-5678</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    Copyright © 2021 Instituto Tuxauas
  </div>
</footer>
  </body>
</div>

<ng-template #desktopContent>
  <body>
    <div class="container-fluid">
      <!-- Barra de navegação -->
      <nav class="navbar navbar-light bg-white shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="../../assets/iconeTuxaua.png"
              alt="Ícone"
              width="50"
              height="50"
              class="d-inline-block align-top"
            />
            Tuxauas IA
          </a>
          <div class="ml-auto d-flex">
            <a>
              <form class="form-inline">
                <button
                  (click)="navigateToTool()"
                  type="button"
                  class="btn btn-outline-secondary mr-2"
                >
                  Go to Tool
                </button>
              </form>
            </a>
            <!-- Facial Recognizment -->
            <a>
              <button
                (click)="navigateToFacial()"
                type="button"
                class="btn btn-outline-secondary"
              >
                Face Recognition
              </button>
            </a>
          </div>
        </div>
      </nav>


      <div class="container-fixed landing-page">
        <div class="row">
          <div class="col-md-4">
            <img
              src="../../assets/cachorro.jpg"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-4">
            <div class="landing-content text-center">
              <h1 class="display-4">Bem Vindos ao Tuxauas IA</h1>
              <h4>Seu decifrador de imagens</h4>
              <p class="lead">Descubra e explore o mundo ao seu redor.</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Vá para a ferramenta</a
              >
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="https://lh3.googleusercontent.com/25dSVIrOB5uuW5UPHH7h9WIY3xFiAA1n-6s8IatuTISRkJY8yu0PsdZATzObjm7pZCP7YQRSBh7BrxxLKMLtxUtk7kGEQhouVMMsKZl8KtWrghjoEQ=s0-rw-lo"
              alt="Right Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container-fixed landing-page">
        <div class="row">
          <div class="col-md-4">
            <img
              src="../../assets/rec-expressoes.png"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-7">
            <div class="content-3 text-center">
              <h1 class="display-4">Reconhecer Expressões</h1>
              <p class="lead">Detecte expressões de humor nos rostos!</p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Vá para a ferramenta</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="container-fixed landing-page">
        <div class="row">
          <div class="col-md-6">
            <div class="content-2 text-center">
              <h1 class="display-4">Extraia textos</h1>
              <p class="lead">
                Use nossa ferramenta para extrair texto em qualquer idioma!
              </p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Vá para a ferramenta</a
              >
            </div>
          </div>
          <div class="img3 col-md-5">
            <img src="assets/text.png" alt="Left Image" class="img-fluid" />
          </div>
        </div>
      </div>

      <div class="container-fixed landing-page">
        <div class="row">
          <div class="col-md-4">
            <img
              src="../../assets/dec-cores.png"
              alt="Left Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6">
            <div class="content-3 text-center">
              <h1 class="display-4">Descubra cores</h1>
              <p class="lead">
                Detecte as cores mais dominantes na sua imagem!
              </p>
              <a routerLink="/tool" class="btn btn-primary landing-button"
                >Vá para a ferramenta</a
              >
            </div>
          </div>
          <div class="container-fixed landing-page">
            <div class="row">
              <div class="col-md-6">
                <div class="content-2 text-center">
                  <h1 class="display-4">Descubra a Logo</h1>
                  <p class="lead">
                    Use nossa ferramenta para descobrir os nomes das logos!
                  </p>
                  <a routerLink="/tool" class="btn btn-primary landing-button"
                    >Vá para a ferramenta</a
                  >
                </div>
              </div>
              <div class="img4 col-md-5">
                <img
                  src="assets/logos.png"
                  alt="Left Image"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer
  class="text-center text-lg-start bg-body-tertiary text-white"
  style="font-family: 'Poppins', sans-serif; margin-top: 10vh"
>
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  ></section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <!-- Ajustado o tamanho da primeira coluna -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Instituto Tuxauas
          </h6>
          <p>Just Do It</p>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <!-- Ajustado o tamanho da segunda coluna -->
          <h6 class="text-uppercase fw-bold mb-4">Linguagens e Frameworks</h6>
          <p>Angular</p>
          <p>Bootstrap</p>
          <p>NodeJS</p>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
          <!-- Ajustado o tamanho da terceira coluna -->
          <h6 class="text-uppercase fw-bold mb-4">Contatos</h6>
          <p><i class="fas fa-home me-3"></i> Manaus, 01000-000, BR</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            contato&#64;tuxauas.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +55 (11) 1234-5678</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    Copyright © 2021 Instituto Tuxauas
  </div>
</footer>
  </body>
</ng-template>
