<div *ngIf="modelsReady">
  <video #videoElement
         [style.width]="width+'px'"
         [style.height]="height+'px'"
         (loadedmetadata)="loadedMetaData()"
         (play)="listenerPlay()"
         *ngIf="stream"
         [srcObject]="stream">
  </video>
</div>
<div *ngIf="!modelsReady">
  Carregando modelos......
</div>
 

<!-- Zona de filtros -->

<div class="filters" *ngFor = "let filter of filters">
  <div class="filter eye filter-question">
    <span [innerHTML]="filter.question"> </span>
  </div>
</div>

