:host {
  position: relative;
  display: block;
}

.overlay-cam {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

.btn {
  cursor: pointer;
  color: white;
  font-weight: 300;
  font-size: 2.2rem;
  background-color: #89c2d9;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 0;
}

.section-buttons {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}

::ng-deep video,
::ng-deep canvas {
  width: 478px;
  height: 360px;
  object-fit: cover;
  border: solid 0px transparent;
}

::ng-deep video {
  background-color: white;
  border: solid 0px white;
  display: block;
}

::ng-deep canvas {
  top: 0;
  position: absolute;
}

.filters {
  position: absolute;
  top: 0;
  left: 0;
}

.filters .filter-eye {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 1.75rem;
  color: white;
}

.filters .filter-image img {
  width: 300px;
  margin-left: -80px;
  margin-top: 25px;
}

.filters .filter-question {
  font-size: 1.3rem;
  width: 350px;
  height: 80px;
  padding: 0.5rem;
  background-color: #ff0000;
  border: solid 5px white;
  margin-left: -5.5vw;
  margin-top: -90px;
  text-align: center;
}

ul {
  position: absolute;
  top: 0;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

ul li {
  padding: 0;
  font-size: 4rem;
}
