.col-md-6{
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    justify-content: center;
}



.container{
    margin-top: 5vh;
}


.text-overlay {
    position: absolute;
    top: -25px; /* Ajuste conforme necessário */
    left: 50%; /* Centralizando horizontalmente */
    transform: translateX(-50%); /* Centralizando horizontalmente */
    width: 100%; /* Para garantir que o texto ocupe toda a largura da coluna */
    text-align: center; /* Alinhando o texto ao centro */
  }
  
  .text {
    color: rgb(0, 0, 0); /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto para melhor legibilidade */
  }
  