<!-- CONTAINER DE OPÇÕES -->
<div class="container-fluid">
  
  <div class="row justify-content-between row-1 align-items-center justify-content-center">
    <div class="col-md-2 d-flex align-items-center justify-content-center">
      <img style="max-width: 250px" src="assets/iconeTuxaua.png" alt="Logo" />
    </div>
    <div class="col-md-10 coluna-div1">
      <nav class="nav flex-column flex-sm-row">
        <button
          class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
          (click)="submitChar()"
        >
          CARACTERES
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
          (click)="submitLabels()"
        >
          LABELS
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
          (click)="submitLogo()"
        >
          LOGOS
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
          (click)="submitCor()"
        >
          CORES
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
          (click)="submitDescricao()"
        >
          DESCREVER
        </button>
      <button
        class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
        (click)="submitFace()"
      >
        EXPRESSÕES
      </button>
      </nav>
    </div>
  </div>
</div>

<!-- CONTAINER DE SELECIONAR IMAGENS -->

<div class="container container-padrao">
  <div class="row justify-content-between align-items-center row-2">
    <div class="col-md-5 coluna-div2">
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="customFile"
          (change)="onFileSelected($event)"
        />
        <label class="custom-file-label" for="customFile"
          >Escolha uma imagem...</label
        >
      </div>
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <h2>OU</h2>
    </div>
    <div class="col-md-5">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="imageLink"
          placeholder="Insira o link da imagem"
          [(ngModel)]="linkImagem"
        />
        <div class="input-group-append">
          <button type="button" class="btn btn-dark" (click)="submitIMG()">
            Submeter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONTAINER DE EXIBIR RESULTADO -->

<div class="container container-padrao">
  <div class="row row-3">
    <div class="col-md-6 d-flex coluna-div3">
      <figure class="figure">
        <img
          [src]="imagemSelecionada"
          class="figure-img img-fluid rounded"
          alt="Imagem Selecionada"
        />
        <figcaption class="figure-caption">IMAGEM SELECIONADA</figcaption>
      </figure>
    </div>
    
    <div class="col-md-6 d-flex coluna-div3">
      <div
        class="card"
        style="width: 100%; max-height: 300px; overflow-y: auto"
      >
        <div class="card-body" style="color: black;">
          <h5 class="card-title">Resultado:</h5>

          <!-- RESPOSTA DE CHAR -->

          <div *ngIf="isSubmitCharClicked && response && response.result">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of response.result">
                {{ item }}
              </li>
            </ul>
          </div>

          <!-- RESPOSTA DE LOGO -->

          <div *ngIf="isSubmitLogoClicked && response && response.result">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of response.result">
                {{ item }}
              </li>
            </ul>
          </div>

          <!-- RESPOSTA DE LABEL -->

          <div *ngIf="isSubmitLabelClicked && response && response.result">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of response.result">
                {{ item.description }}
              </li>
            </ul>
          </div>


          <!-- RESPOSTA DE COR GOOGLE -->

          <div *ngIf="isSubmitCorClicked && response && response.result">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of response.result" style="display: flex; flex-direction: column; align-items: center;">
                <div style="margin-bottom: 10px;"> <!-- Div para o círculo -->
                  <div class="color-circle" [style.background-color]="'rgb(' + item.color.red + ',' + item.color.green + ',' + item.color.blue + ')'" style="margin: 0 auto;"></div>
                </div>
                <div style="text-align: center;"> <!-- Div para o texto -->
                  <p>Color: RGB({{ item.color.red }}, {{ item.color.green }}, {{ item.color.blue }})</p>
                  <p>Score: {{ item.score }}</p>
                  <p>Pixel Fraction: {{ item.pixelFraction }}</p>
                </div>
              </li>
            </ul>
          </div>
          
          <!-- RESPOSTA DE DESCRICAO -->
          
          <div *ngIf="isSubmitDescricaoClicked && response && response.result">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of response.result">
                {{ item }}
              </li>
            </ul>
          </div>
          <div *ngIf="isSubmitFacesClicked && response && response.result">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of response.result">
                {{ item }}
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
