<!-- CONTAINER DE OPÇÕES -->

<div class="container">
    <div class="row justify-content-between row-1">
      <div class="col-md-12 coluna-div1">
        <nav class="nav flex-column flex-sm-row">
          <button
            class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
            (click)="submitForm()"
          >
            CARACTERES
          </button>
          <button
            class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
            onclick="detectarFAMOSOS()"
          >
            FAMOSOS
          </button>
          <button
            class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
            onclick="detectarLOGO()"
          >
            LOGOS
          </button>
          <button
            class="flex-sm-fill text-sm-center nav-link btn btn-custom1"
            onclick="detectarCORES()"
          >
            PALETAS
          </button>
        </nav>
      </div>
      <!-- <form [formGroup]="form" (ngSubmit)="submitForm()">
        <input type="text" formControlName="imageLink">
      </form> -->
      
    </div>
  </div>




  <!-- CONTAINER DE SELECIONAR IMAGENS -->

  <div class="container">
    <div class="row justify-content-between align-items-center row-2">
      <div class="col-md-5 coluna-div2">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event)" />
          <label class="custom-file-label" for="customFile">Escolha uma imagem...</label>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <h2>OU</h2>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="imageLink"
            placeholder="Insira o link da imagem"
            [(ngModel)]="linkImagem"
          />
          <div class="input-group-append">
            <button type="button" class="btn btn-dark" (click)="submitIMG()">
              Submeter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
<!-- CONTAINER DE EXIBIR RESULTADO -->

<div class="container">
    <div class="row row-3">
      <div class="col-md-6 d-flex coluna-div3">
        <figure class="figure">
          <img [src]="imagemSelecionada" class="figure-img img-fluid rounded" alt="Imagem Selecionada">
          <figcaption class="figure-caption">IMAGEM SELECIONADA</figcaption>
        </figure>
      </div>
      <div class="col-md-6 d-flex coluna-div3">
        <div class="card" style="width: 100%; max-height: 300px; overflow-y: auto;">
          <div class="card-body" style="color: black;">
            <h5 class="card-title">Resultado:</h5>
            <div *ngIf="response" class="card-text">{{ stringifyResponse(response) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
