<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-12">
      <nav class="nav flex-column flex-sm-row">
        <button
          class="flex-sm-fill text-sm-center nav-link btn"
          (click)="submitForm()"
        >
          CARACTERES
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link btn"
          onclick="detectarFAMOSOS()"
        >
          FAMOSOS
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link btn"
          onclick="detectarLOGO()"
        >
          LOGOS
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link btn"
          onclick="detectarCORES()"
        >
          PALETAS
        </button>
      </nav>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <input type="text" formControlName="imageLink">
    </form>
    <div *ngIf="response">{{ stringifyResponse(response) }}</div>
  </div>
</div>


