.container {
  margin-top: 10vh;
}

.row {
  font-size: 25px;
  font-weight: 600;
}


.btn{
  background-color:#F69343 ;
  color: white;
}

.nav-link:hover {
  color: #000000; /* Cor do texto quando o mouse está sobre o link */
}

