<header>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li class="has-submenu">
                <a routerLink="/deteccoes">Detecções</a>
                <ul class="submenu">
                    <li><a></a></li> <!-- gambiarra pra parar de ficar desalinhado, ajeitar dps -->
                    <li><a routerLink="/deteccoes/texto">Texto</a></li>
                    <li><a routerLink="/deteccoes/logotipo">Logotipo</a></li>
                    <li><a routerLink="/deteccoes/cores">Cores</a></li>
                    <li><a routerLink="/deteccoes/objetos">Objetos</a></li>
                </ul>
            </li>
            <li><a routerLink="/sobre">Sobre</a></li>
        </ul>
    </nav>
</header>
