<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-12">
      <nav class="nav flex-column flex-sm-row">
        <button
          class="flex-sm-fill text-sm-center nav-link custom-btn-color"
          onclick="detectarCHAR()"
        >
          CARACTERES
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link custom-btn-color"
          onclick="detectarFAMOSOS()"
        >
          FAMOSOS
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link custom-btn-color"
          onclick="detectarLOGO()"
        >
          LOGOS
        </button>
        <button
          class="flex-sm-fill text-sm-center nav-link custom-btn-color"
          onclick="detectarCORES()"
        >
          PALETAS
        </button>
      </nav>
    </div>
  </div>
</div>

