<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-12">
      <form>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Escolha uma imagem...</label>
        </div>
        <div class="input-group mt-3">
          <input type="text" class="form-control" id="imageLink" placeholder="Insira o link da imagem">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="submitForm()">Submeter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
