<body>
    <div class="container-fluid">
        <!-- Barra de navegação -->
        <nav class="navbar navbar-light bg-white shadow">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="http://localhost:4200/assets/iconeTuxaua.png"
                alt="Ícone"
                width="50"
                height="50"
                class="d-inline-block align-top"
              />
              Facial Recognition
            </a>
          </div> 
        </nav>
    </div>
</body>
