<html>
  
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel ="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
</head>

<body>
  <div class="wrapper">

    <div class="header">
      <div class="in-header">
        <div><i class = "uil uil-video"></i></div>
        <h1 class="title">Nossa Ferramenta de Reconhecimento Facial</h1>
      </div>

      <div>
        <a href="https://github.com/caahp/TuxauaAI" aria-label="Meu GitHub">
          <i class = "uil uil-github"></i>
        </a>
      </div>
    </div>

    <div class="block-main">
      <div class="cam">
        <app-video-player
        [width]="dimensionVideo.width"
        [height]="dimensionVideo.height" 
        [stream]="currentStream"></app-video-player>
      </div>
      
      <div class="sidebar">
        <div class="zone-body">
          <div class="block">Block 1</div>
          <div class="block">Block 2</div>
        </div>

        <div class="zone-btn">
          <ul class="list-btn">
            <li *ngFor="let btn of [1,1,1]">
              <i class = "uil uil-emoji"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  
</body>
</html>